<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/home">

      </ion-back-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea 
    autoGrow rows="1" 
    placeholder="Send message" 
    class="ion-text-center"
    [(ngModel)]='message'
    >
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="primary" (click)="sendMessage()">
           <ion-icon name="send">

           </ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="primary">
         <ion-spinner name="crescent" color="white">
          
         </ion-spinner>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
